[submodule "beecology_api/analysis_api/analysis_scripts"]
	path = beecology_api/analysis_api/analysis_scripts
	url = git@arcgit.wpi.edu:Bee-cology/analysis-scripts.git
[submodule "angular-client"]
	path = angular-client
	url = git@arcgit.wpi.edu:Bee-cology/Beecology-API-Angular-Client.git
